body {
    background-color: $primary-color;
    color: $primary-font-color;
    margin: 0;
    padding: 0;
}

.main {
    margin: 1rem;
    max-width: 80rem;
    transform: translateX(0%);
    transition: transform 0.5s ease;
}

.main-pushed-left {
    margin: 1rem;
    max-width: 80rem;
    transform: translateX(-71%);
    transition: transform 0.5s ease;
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem auto;
    max-width: 35rem;
}

.hero-section h1 {
    text-transform: uppercase;
}

.socials-box {
    width: 13rem;
    height: 5rem;
    border: 5px solid $dark-border;
    border-radius: 1rem;
    margin: 1rem;
    order: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socials-box svg {
    width: 3rem;
    height: auto;
}

.socials-box svg path {
    fill: white;
}

@media(min-width: 26.25em) {
    .hero-section {
        flex-wrap: nowrap;
        align-items: center;
    }

    .socials-box {
        order: 0;
        min-width: 4rem;
        min-width: 5rem;
        height: 13rem;
        flex-direction: column;
        align-items: center;
    }

    .dev-info {
        margin-left: 1rem;
    }
}

@media(min-width: 37.5em) {
    .main {
        margin-top: 6.6rem;
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }

    .main-pushed-left {
        margin-top: 6.6rem;
        transform: translateX(-40%);
        transition: transform 0.5s ease;
    }

    .hero-section h1 {
        font-size: 3.5rem;
        margin-bottom: 0.8rem;
    }
    
    .hero-section h2 {
        font-size: 2rem;
        margin-top: 0rem;
    }
    
    .hero-section p {
        font-size: 1.2rem;
    }
}

@media(min-width: 82em) {
    .main {
        margin: 1rem auto;
        margin-top: 6.6rem;
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }

    .main-pushed-left {
        margin: 1rem auto;
        margin-top: 6.6rem;
        transform: translateX(-40%);
        transition: transform 0.5s ease;
    }
}