#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.work-detail-main {
    flex: 1;
    margin: 1rem;
    max-width: 80rem;
}

.demo-video {
    width: 100%;
}

.work-detail-work-description, .work-detail-highlights, .work-detail-gallery, .work-detail-toolkit, .work-detail-links, .return-to-home {
    background-color: $light-card-color;
    color: black;
    margin: 1rem 0.5rem;
    padding: 0.75rem;
    border: 5px solid $main-card-color;
    border-radius: 1rem;
}

.links-and-return {
    display: flex;
    flex-wrap: wrap;
}

.work-detail-links, .return-to-home a {
    width: fit-content;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.work-detail-links {
    height: 5rem;
    margin: 0.5rem;
}

.work-detail-links svg {
    margin: .75rem;
    width: 2.2rem;
    height: auto;
}

.return-to-home {
    margin: 0.5rem;
    padding: 0.6rem;
}

.return-to-home svg {
    margin-right: 0.5rem;
}

.under-construction {
    font-size: 2rem;
}


@media(min-width: 37.5em) {
    .work-detail-main {
        display: flex;
        justify-content: space-around;
        margin-top: 8rem;
    }
    
    .left-section {
        width: 50%;
    }

    .right-section {
        width: 47.5%;
        position: fixed;
        z-index: 1;
        right: 1rem;
        top: 6rem;
    }

    .invisible-right-container {
        width: 47.5%;
    }
}

@media(min-width: 65.625rem) {
    .left-section {
        width: 60%;
    }

    .right-section, .invisible-right-container {
        width: 37.5%;
    }
}

@media(min-width: 82em) {
    .work-detail-main {
        margin: 1rem auto;
        margin-top: 8rem;
    }

    .right-section, .invisible-right-container {
        width: 30.5rem;
        right: calc((100vw - 80rem) / 2);
    }
}