header {
    background-color: $dark;
    padding: 1rem;
    height: 6rem;
    position: relative;
}

.menu-button {
    width: 4rem;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 1rem;
    top: 1.4rem;
    z-index: 10000;
}


.menu-button-fixed {
    position: fixed;
    width: 4rem;
    background-color: transparent;
    border: none;
    right: 1rem;
    top: 1.4rem;
    z-index: 10000;
}

.menu-button svg path, .menu-button-fixed svg path {
    fill: white;
}

.hide-menu {
    display: none;
}

.show-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: $main-card-color;
    width: 66%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show-menu ul li {
    padding: 1rem;
    font-size: 2rem;
}

@media(min-width: 37.5em) {
    header {
        position: fixed;
        top: 0rem;
        right: 0;
        left: 0;
        z-index: 2;
    }

    .show-menu ul {
        width: 40%;
    }
}