$primary-color: #606B73;
$primary-font-color: #fff;
$main-card-color: #7A7A7A;
$light-card-color: #DBDBDB;
$dark: #4B5458;
$dark-border: #4D585C;
$accent-color: #A1B2B2;
$accent-color-border: #8C9B9B;
$code-green: #32CD32